#notification-modal {
  align-items: center;
  background: linear-gradient(to top, black, lightgray);
  border-radius: 5px;
  color: var(--light-text);
  display: grid;
  height: 25%;
  left: 50%;
  top: 50%;
  overflow: auto;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.modal-close {
  color: var(--light-text);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 5px;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--dark-bg);
  text-decoration: none;
  cursor: pointer;
}
