:root {
  --dark-bg: #212529;
  --navbar-height: 10vh;
  --main-height: 90%;
  --min-main-height: 90vh;
  --sidebar-width: 25vw;
  --light-text: whitesmoke;
}

#main-container {
  display: grid;
  grid-template-rows: var(--navbar-height) var(--min-main-height);
  height: 100%;
  padding: 0;
}

#main-page {
  display: flex;
}

.icon, .logo {
  cursor: pointer;
}

a {
  color: var(--light-text);
  text-decoration: none;
}

input {
  padding: 5px 10px !important;
}

.btn {
  background-color: var(--dark-bg);
  color: var(--light-text);
  margin: 0 auto !important;
  padding: 5px 10px !important;
  width: fit-content;
}

.btn:hover {
  background-color: var(--light-text);
  color: var(--dark-bg);
}

.save-btn {
  position: absolute;
  right: 0;
  top: 1.5rem;
}

.user-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

#logout-btn {
  background-color: var(--dark-bg);
  border-radius: 10px;
  position: absolute;
  right: 1vh;
  top: calc(var(--navbar-height) + 1vh);
}

#notification-modal {
  align-items: center;
  background: linear-gradient(to top, black, lightgray);
  border-radius: 5px;
  color: var(--light-text);
  display: grid;
  height: 25%;
  left: 50%;
  top: 50%;
  overflow: auto;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.modal-close {
  color: var(--light-text);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 5px;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--dark-bg);
  text-decoration: none;
  cursor: pointer;
}
